# Virtual environments
venv/

# Python cache
__pycache__/
*.pyc

# MacOS junk
.DS_Store

# Pytest cache
.pytest_cache/

# IDE
.vscode/

# Environment variables (never commit this)
.env

# Logs
logs/
*.log

# Database
*.db
